<title>Agregar marca</title>

<%- include('../header') %>

<h2>Agregar Marca</h2>
<form method="POST" action="/marcas/agregar">
  <label>Nombre:</label>
  <input type="text" name="nombre" required maxlength="50" /><br />
  <br />
  <br />
  <button type="submit">Guardar</button>
</form>
<script src="/functions/general.js"></script>

<%- include('../footer') %>

</html>