<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Distribuidora Negri</title>
    <link rel="stylesheet" href="/styles/filtrosTablas.css" />
  </head>
  <body>
    <header>
      <h1>Distribuidora Negri</h1>
      <nav>
        <% if (usuario) { %>
        <a href="/">Inicio</a>

        <% if (usuario.administrador) { %>
        <a href="/categorias">Categorías</a>
        <a href="/marcas">Marcas</a>
        <a href="/productos">Productos</a>
        <a href="/proveedores">Proveedores</a>
        <a href="/clientes">Clientes</a>
        <a href="/compras">Compras</a>
        <% } %>

        <a href="/ventas">Ventas</a>
        <a href="/productos/stock-bajo">Stock Bajo</a>

        <% if (usuario.administrador) { %>
        <a href="/usuarios">Usuarios</a>
        <% } %>

        <a href="/logout">Cerrar sesión (<%= usuario.nombreUsuario %>)</a>

        <% } else { %>
        <a href="/login">Iniciar sesión</a>
        <% } %>
      </nav>
    </header>
    <main></main>
  </body>
</html>
