
<h2>Login</h2>

<form action="/login" method="post">
  <label>Nombre de usuario:</label>
  <input type="text" name="nombreUsuario" required />
  <br />
  <label>Clave:</label>
  <input type="text" name="clave" required />
  <br />
  <button type="submit">Ingresar</button>

  <%- include('./footer') %>
</form>
