<%- include('../header') %>

<h2>Agregar Categoría</h2>

<form method="POST" action="/categorias/agregar">

  <label>Nombre:</label>
  <input type="text" name="nombre" required>
  <br>  
  <br>
  <button type="submit">Guardar</button>
</form>

<%- include('../footer') %>
