<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle de compra</title>
  </head>
  <body>
    <%- include('../header') %>

    <h2>Detalle de la compra: </h2>

    <%- include('../footer') %>
  </body>
</html>
